/*

*/

:root {
   --text: #ccc;
   --text-special: #fff;
   --background: #333;
   --background-special: #3f3f3f;
}

/* Classic Background */
/**********************/

.channel_header, #channel_topic_text, #search_terms,
.light_theme,
#footer,
.modal-header {
  background: var(--background) !important;
  box-shadow: none !important;
  border: none !important;
}

/* special Background */
/**********************/

ts-message:hover, ts-message.active, ts-message.active:hover, ts-message.message--focus, ts-message.selected,
.heading, #convo_scroller,
.search_form,
.ql-editor, .file_upload_btn, #msg_input {
  background: var(--background-special) !important;
}

/* Classic text */
/**********************/

ts-message, .mpim_notif_prefs .content {
  color: var(--text) !important;
}

/* special Text */
/**********************/

h1, h2, h3, h4,
.channel_name,
.dm_explanation,
.light_theme ts-message .message_content .message_sender,
.ql-editor, .checkbox {
  color: var(--text-special) !important;
}

/* Others */
/**********************/

/* fonts */

body {
  font-weight: 400 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* quick Hacks */

#client_body::before {
  display: none !important;
}

.channel_header {
  padding-bottom: 15px;
}

#edit_topic_container:hover {
  overflow: hidden;
}

#channel_scroll_down, #channel_scroll_up {
   background-color: var(--background) !important;
}

.day_container, .relative, .message_pane_scroller {
  border: 1px solid var(--background) !important;
}


#convo_scroller {
 background: var(--background-special) !important;
}
.flex_pane_showing #col_flex , .heading {
  border: none;
  border-radius: 8px 0 0 0;
}

/* scrollbar */

::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
  background: transparent !important;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  background-color: transparent !important;
  display: block !important;
  height: 15px !important;
}

::-webkit-scrollbar-track {
  display: none !important;
  color: transparent !important;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border-radius: 6px !important;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: gray !important;
  border: none !important;
  border-radius: 5px !important;
  height: 50px !important;
  color: transparent !important;
}

#messages_container::after, #messages_container.has_top_messages_banner:before {
   background: none !important;
}
